# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env
.env.*

# Terraform
*.tfstate
*.tfstate.*
.terraform/
crash.log
*.tfvars
*.tfvars.json

# Secrets / keys
*.pem
*.key
*.p12
*.pfx
*.crt
*.cer

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
